<TABLE style="border: 1px solid #000000; border-collapse: collapse;" border="1" cellpadding="4">
 <TR>
  <TD>Test Case ID</TD>
  <TD>Result</TD>
  <TD>Age</TD>
 </TR>
 <TR>
  <TD>Smith</TD>
  <TD>John</TD>
  <TD>30</TD>
 </TR>
 <TR>
  <TD>Carpenter</TD>
  <TD>Jack</TD>
  <TD>47</TD>
 </TR>
 <TR>
  <TD>Johnson</TD>
  <TD>Paul</TD>
  <TD>62</TD>
 </TR>
</TABLE>